<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Socket.IO Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <ul id="messages"></ul>
        <div>
          <input id="m" autocomplete="off" />
          <button>Send</button>
        </div>

        <script src="js/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
